/* Chat wrapper */
.chat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url('/Users/mirudhubasinirc/Documents/Customer-Service-ChatBot/Customer-Service-Chatbot/Frontend/my-chat-bot/src/assests/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Chat window */
.chat-window {
  display: flex;
  flex-direction: column;
  height: 75vh;
  max-width: 900px;
  width: 100%;
  margin: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header for icons */
.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f1f1f1;
}

/* Icon button styling */
.icon-button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; /* Remove padding */
}

/* Icon styling */
.icon {
  width: 24px;
  height: 24px;
}

/* Icon text styling */
.icon-button span {
  margin-top: 5px;
  font-size: 12px;
}

/* Chat history */
.chat-history {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* Message styles */
.message.user {
  text-align: right;
  background-color: rgb(103, 8, 235);
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  margin-left: auto;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-word;
}

.message.bot {
  text-align: left;
  background-color: lightgray;
  color: black;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  margin-right: auto;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-word;
}

/* Chat input area */
.chat-input {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px;
}

/* Input field */
.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 0 5px;
  font-size: 16px;
}

/* Send button */
.Send {
  background-color: #f5f4f6;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/Users/mirudhubasinirc/Documents/Customer-Service-ChatBot/Customer-Service-Chatbot/Frontend/my-chat-bot/src/assests/arrow.png');
  background-size: 40px 40px;
  background-position: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-input button:hover {
  background-color: rgb(149, 38, 163);
}

/* Group of icons next to the input field */
.icon-group {
  display: flex;
  align-items: center;
}

.icon-group .icon-button {
  margin-left: 5px;
}


